################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.env
/.vs
/ModelTraining/BIOFM/weights
/ModelTraining/BIOFM/weights/BIOFMGENETV1.keras
/ModelTraining/AMRI/weights/AMRIGENETV1.keras
/ModelTraining/EEG/*
/venv/
/backend-api/venv/
/backend-api/__pycache__/

